<article>
    <a href="#">
        <header>
            <h2>Object-Relational Mapping</h2>
            <p>Posted by Arman 5/08/23</p>
        </header>

        <div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat quo labore rerum et esse, hic in! Eius
                ipsum
                quam praesentium dolores atque deleniti necessitatibus aspernatur suscipit quod reprehenderit, molestiae
                fugit?</p>
        </div>
    </a>
</article>
<article>
    <a href="#">
        <header>
            <h2>Object-Relational Mapping</h2>
            <p>Posted by Arman 5/08/23</p>
        </header>

        <div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat quo labore rerum et esse, hic in! Eius
                ipsum
                quam praesentium dolores atque deleniti necessitatibus aspernatur suscipit quod reprehenderit, molestiae
                fugit?</p>
        </div>
    </a>
</article>