<div class="form-wrapper card">
    <header>
        <h2>Create New Post</h2>
    </header>
    <div>
        <form class="form">
            <div>
                <div>Title</div>
                <input type="text" id="blog-title">
            </div>
            <div>
                <div>Content</div>
                <textarea id="blog-content"></textarea>
            </div>
            <div>
                <button id="create-blog">Create</button>
                <button id="update-blog">Update</button>
                <button type="button" id="delete-blog">Delete</button>
            </div>

        </form>
    </div>
</div>

<script src="/js/blog.js"></script>