<div class="form-wrapper card">
    <header>
        <h2>Create New Post</h2>
    </header>
    <div>
        <form class="form">
            <div>
                <div>Title</div>
                <input type="text">
            </div>
            <div>
                <div>Content</div>
                <textarea></textarea>
            </div>
            <div>
                <button>Create</button>
                <button>Update</button>
                <button>Delete</button>
            </div>

        </form>
    </div>
</div>