<section id="blog-post">
    {{> homeItem}}
    <div class="card">
        <header>
            <h2>Comments</h2>
        </header>
        <div class="comments-content">
            <article>
                <p>
                    aolkjdas dslkjf;l dsalkfd sa
                </p>
                <p>
                    saflkjsda fdasfklj
                </p>
            </article>
            <button>Add Comment</button>
        </div>
        <div class="comments-form-wrapper hide">
            <form class="form">
                <div>
                    <textarea></textarea>
                </div>
                <div>
                    <button>Add Comment</button>
                </div>

            </form>
        </div>
    </div>
</section>

<script src="/js/comment.js"></script>